body {
    background-color: #ffd466;
    color: white;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    overflow-y: hidden;
    width: 100vw;
    height: 100vh;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
  font-size: 5vmin;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 8vmin;
}

footer {
	font-style: italic;
	font-size: 2vmin;
}
